@inherits LayoutComponentBase
@inject IUser CurrentUser
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main> 
        <div class="top-row px-4">
            @if ((CurrentUser as CurUser)?.FirstName != null)
            {
                <label>Hallo, @CurrentUser.FirstName </label>
                <NavLink class="nav-link" href="Logout">
                    <span aria-hidden="true"></span> Logout
                </NavLink>
            }
            else
            {
               <NavLink class="nav-link" href="LogIn"> 
                    <span aria-hidden="true"></span> Login
                </NavLink>  
            }
                
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>   