@page "/"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Web 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Image Example</title>
</head>
<div class="pageStuff"> 
    <h3>Carpool</h3>
    <div class="upper-half" style="border:hidden">
        <button class="button" @onclick="OfferRide" >Offer a ride</button>
    </div>

    <div class="lower-half" style="border:hidden">
        <button class="button" @onclick="SearchRide" >Search for a ride</button>
    </div>
</div>


@code {
    private void OfferRide(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("OfferRide");
    }
    private void SearchRide(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("SearchForRide");
    }
}
