@page "/"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Web 

<div class="upper-half">
    <button class="button" @onclick="OfferRide" >Offer a ride</button>
</div>
<hr />
<div class="lower-half">
    <button class="button" @onclick="SearchRide" >Search for a ride</button>
</div>

<style>
    .upper-half,
.lower-half {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.button {
    padding: 10px 20px;
    font-size: 80px;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgb(144, 245, 66) 20%, rgb(87, 166, 27) 70%);
}
</style>

@code {
    private void OfferRide(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("OfferRide");
    }
    private void SearchRide(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("SearchForRide");
    }
}
