@page "/"
@using Microsoft.AspNetCore.Components.Web 

<!DOCTYPE html>
<html>
<head>
    <style>
        a:hover {
            text-decoration: underline;
        }
        h1 {
            text-align: center; 
        }

        h2 {
            text-align: center; 
        }

    </style>
    </head>
    <body >
        <h1>Carpool</h1>
        <h2 style="line-height: 200px" ><a href="https://www.example.com">Offer a Ride</a></h2>
        <h2><a href="https://www.example.com">Search for a Ride</a></h2>
    </body>
    </html>

@code {
    private void OfferRide(MouseEventArgs e)
    {
        // Hier kannst du die Logik für den Button-Klick hinzufügen
        // Zum Beispiel: Console.WriteLine("Button wurde geklickt!");
    }
    private void SearchRide(MouseEventArgs e)
    {
        // Hier kannst du die Logik für den Button-Klick hinzufügen
        // Zum Beispiel: Console.WriteLine("Button wurde geklickt!");
    }
}
