@page "/LoginFailed"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
 
<h3>Da hat leider etwas nicht geklappt! </h3>
<h4>Überprüfe deine Eingabe und versuche es erneut! </h4>
<button class="button" @onclick="Again">Zur Login Seite</button>

<style>
    .button {
        background-color: #4caf50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #45a049;
    }
</style>

@code {
    private void Again()
    {
        NavigationManager.NavigateTo("/LogIn");
    }
}
