@page "/LogIn"
@inject AuthService authService 
@inject NavigationManager NavigationManager
<h3>Login</h3>

<EditForm Model="@user" OnValidSubmit="@HandleValidSubmit" FormName="loginForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="username">Benutzername:</label>
        <InputText id="username" @bind-Value="user.Username" />
    </div>

    <div>
        <label for="password">Passwort:</label>
        <InputText id="password" @bind-Value="user.Password" type="password" />
    </div>

    <button type="submit">Anmelden</button>
</EditForm>

@code {
    private User user = new User();

    private void HandleValidSubmit()
    {
        user.Username = "dseif";
        user.Password = "1234";
        if (authService.Authenticate(user))
        {
            // Erfolgreiche Authentifizierung: Weiterleitung oder andere Aktionen.
            // Zum Beispiel: Navigation zur geschützten Seite.
            NavigationManager.NavigateTo("/Components/Home");
        }
        else
        {
            // Fehlerhafte Anmeldeinformationen: Zeigen Sie eine Fehlermeldung an.
            // Beispielhaft: Einfache Konsolenausgabe.
            Console.WriteLine("Anmeldung fehlgeschlagen");
        }
    }
}
