@page "/LogIn"
@inject AuthService authService 
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
<h3>Login</h3>

@* <EditForm Model="@user" OnValidSubmit="@HandleValidSubmit" FormName="loginForm">
    <DataAnnotationsValidator />
    <ValidationSummary /> *@

    <div>
        <label for="username">Benutzername:</label>
        <input id="username" @bind="user.Username" />
    </div>

    <div>
        <label for="password">Passwort:</label>
        <input id="password" @bind="user.Password" type="password" />
    </div>

@*     <button type="submit" @onclick="HandleValidSubmit">Anmelden</button>*@
    <button type="submit" @onclick="HandleValidSubmit">Anmelden</button>
@* </EditForm> *@

@code {
    private User user = new User();
     

    private void HandleValidSubmit()
    { 

        if (authService.Authenticate(user))
        {
            // Erfolgreiche Authentifizierung: Weiterleitung oder andere Aktionen.
            // Zum Beispiel: Navigation zur geschützten Seite.
            NavigationManager.NavigateTo("/Weather");
        }
        else
        {
            // Fehlerhafte Anmeldeinformationen: Zeigen Sie eine Fehlermeldung an.
            // Beispielhaft: Einfache Konsolenausgabe.
            Console.WriteLine("Anmeldung fehlgeschlagen");
        }
    }
}
