@page "/LogIn"
@inject AuthService authService 
@inject IUser CurrentUser
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Login</h3>
  
    <div> 
        <input class="inputTXT" placeholder="E-Mail Adresse" id="username" @bind="user.EMailAddress" />
    </div>

    <div>
    <input class="inputTXT" placeholder="Password" id="password" @bind="user.Password" type="password" />
    </div>
    <button class="button" @onclick="HandleValidSubmit">Anmelden</button>
    <hr />
    <button class="button" @onclick="Registrate">Registrieren</button>
<style>
    .button {
        background-color: #4caf50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #45a049;
    }
</style>

@code {
    private User user = new User();


    private void HandleValidSubmit()
    {
        IUser curuser = CurrentUser;
        if (authService.Authenticate(user, out curuser))
        {  
            CurrentUser.FirstName = curuser.FirstName; 
            NavigationManager.NavigateTo("/Welcome");
        }
        else
        { 
            Console.WriteLine("Anmeldung fehlgeschlagen");
            NavigationManager.NavigateTo("/LoginFailed");
        }
    }
    private void Registrate()
    {
        NavigationManager.NavigateTo("/Registration");
    }
}
