@inject RegisService RegistrationService
@inject NavigationManager NaviMangager
@page "/Registration"
<h3>Registrierung</h3>
@rendermode InteractiveServer

<div>
    <label class="labelTXT">Dein Vorname:</label>
    <input class="inputTXT" type ="text" placeholder="Vorname" @bind="user.FirstName" />
</div>
<div>
    <label class="labelTXT">Dein Nachname:</label>
    <input class="inputTXT" type="text" placeholder="Nachname" @bind="user.LastName" />
</div>
<div>
    <label class="labelTXT">Deine E-Mail Addrese:</label>
    <input class="inputTXT" type="text" placeholder="E-Mail Adresse" @bind="user.EMailAddress" />
</div> 
<div>
    <label class="labelTXT">Bitte bestätige deine E-Mail Addresse:</label>
    <input class="inputTXT" type="text" placeholder="E-Mail Adresse bestätigen" @bind="ConfirmEMail" />
</div>
<div>
    <label class="labelTXT">Dein Passwort</label>
    <input class="inputTXT" placeholder="E-Mail Adresse" @bind="user.Password" type="password" />
</div>
<div>
    <label class="labelTXT">Bitte bestätige dein Passwort:</label>
    <input class="inputTXT" placeholder="Passwort bestätigen" @bind="ConfirmPassword" type="password" />
</div>
<hr />
<button class="button" @onclick="Registrate" disabled="@IsButtonDisabled">Registrieren</button>

@code {
    private User user = new(); 
    private string? ConfirmEMail; 
    private string? ConfirmPassword; 
    private void Registrate()
    {
        if (!IsButtonDisabled())
        {
            if(RegistrationService.RegistrateUser(user))
            {
                NaviMangager.NavigateTo("/LogIn");
            }
            else
            {
                NaviMangager.NavigateTo("/Registration");
            }

        }

    }
    private bool IsButtonDisabled()
    {
        return (string.IsNullOrWhiteSpace(user.FirstName) || string.IsNullOrWhiteSpace(user.EMailAddress) ||
        string.IsNullOrWhiteSpace(ConfirmEMail) || string.IsNullOrWhiteSpace(user.Password) || string.IsNullOrWhiteSpace(ConfirmPassword)) && user.EMailAddress == ConfirmEMail && user.Password == ConfirmPassword && user.EMailAddress.Contains("@");

    }

}
