@inject RegisService RegistrationService
@inject NavigationManager NaviMangager
@page "/Registration"
<h3>Registrierung</h3>
@rendermode InteractiveServer
@*wir miasn nu schaun das de label und textboxn nebneinanda san*@
    <div class="col-md-8">
        <label class="labelTXT">Dein Vorname:</label>
    </div>
    <div class="col-md-8">
        <input class="inputTXT" type ="text" placeholder="Vorname" @bind="user.FirstName" />
    </div>
    <div class="col-md-8">
        <label class="labelTXT">Dein Nachname:</label>
    </div>
    <div class="col-md-8">
        <input class="inputTXT" type="text" placeholder="Nachname" @bind="user.LastName" />
    </div>
    <div class="col-md-8">
        <label class="labelTXT">Deine E-Mail Addrese:</label>
    </div>
    <div class="col-md-8">
        <input class="inputTXT" type="text" placeholder="E-Mail Adresse" @bind="user.EMailAddress" />
    </div>
    <div class="col-md-8">
        <label class="labelTXT">Bitte bestätige deine E-Mail Addresse:</label>
    </div>
    <div class="col-md-8">
        <input class="inputTXT" type="text" placeholder="E-Mail Adresse bestätigen" @bind="ConfirmEMail" />
    </div>
    <div class="col-md-8">
        <label class="labelTXT">Dein Passwort</label>
    </div>
    <div class="col-md-8">
        <input class="inputTXT" @bind="user.Password" type="password" />
    </div>
    <div class="col-md-8">
        <label class="labelTXT">Bitte bestätige dein Passwort:</label>
    </div>
    <div class="col-md-8">
        <input class="inputTXT" @bind="ConfirmPassword" type="password" />
    </div>
    <div class="col-md-8">
        <label class="labelTXT">Name deiner Klasse:</label>
    </div>
    <div class="col-md-8">
        <input class="inputTXT" placeholder="z.B. 5AHWII" @bind="user.SchoolClass" />
    </div>
    <div class="col-md-8">
    </div>
    <div class="col-md-8">
        <label class="labelTXT">Deine Telefonnummer:</label>
    </div>
    <div class="col-md-8">
        <input class="inputTXT" placeholder="+43 ..." @bind="user.MobileNumber" />
    </div>
    <div class="col-md-8">
        <label class="labelTXT">Bist du Lehrer?</label>
    </div>
    <div class="col-md-8">
        <input type="checkbox" @bind="user.Teacher"  /> 
    </div>
    <hr />
    <button class="button" @onclick="Registrate" disabled="@IsButtonDisabled">Registrieren</button>

@code {
    private User user = new(); 
    private string? ConfirmEMail; 
    private string? ConfirmPassword; 
    private void Registrate()
    {
        if (!IsButtonDisabled())
        {
            if(RegistrationService.RegistrateUser(user))
            {
                NaviMangager.NavigateTo("/LogIn");
            }
            else
            {
                NaviMangager.NavigateTo("/Registration");
            }

        }

    }
    private bool IsButtonDisabled()
    {
        return (string.IsNullOrWhiteSpace(user.FirstName) || string.IsNullOrWhiteSpace(user.EMailAddress) ||
        string.IsNullOrWhiteSpace(ConfirmEMail) || string.IsNullOrWhiteSpace(user.Password) || string.IsNullOrWhiteSpace(ConfirmPassword)) && user.EMailAddress == ConfirmEMail && user.Password == ConfirmPassword && user.EMailAddress.Contains("@");

    } 

}
